runmode: debug
addr: 8080
name:
url:
max_ping_count: 10
jwt_secret:
log:
  logger_level: DEBUG
  logger_track_filename:
  logger_api_filename:
  log_max_size: 128
  log_max_backups: 30
  log_max_age: 30
  log_compress: true
db:
  name:
  addr:
  username:
  password:
  max_open_connections: 20
  max_idle_connections: 20
  connection_max_life_time: 30
